/* Whole Card */
.container {
    border: 5px solid rgb(153, 100, 21);
    background-color: #ffe4c4;
    width: 400px;
    height: 750px;
    border-radius: 15px;
    box-shadow: 10px 10px 50px 0px rgba(255,134,69,1);
    background-image: url(https://mike585.files.wordpress.com/2012/04/img_4872marsh3.jpg);
    padding: 2px;
}

body {
    font-family: 'Nanum Myeongjo', serif;
    color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
}

/* Photo */
.pic {
    border: 5px solid rgb(153, 100, 21);
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0px black;
    display: block;
    margin: auto;
}

/* Title */
h2 {
    text-align: center;
}

/* Interesting Fact */
.fun-fact {
    font-style: italic;
}

/* Card Content */
ul {
    list-style-type: none;
}

p {
    padding: 30px;
    margin-top: 20px;
}

span {
    font-weight: bold;
}

.content {
    border: 5px solid rgb(153, 100, 21);
    margin-left: 30px;
    margin-right: 30px;
    padding: 0px;
    margin-top: 5px;
    border-radius: 15px;
    background-color: #1c692561;
}
