#container {
    border: 2px black;
    background-color: antiquewhite;
    font-family: 'Nanum Myeongjo', serif;
    width: 450px;
    height: 750px;
}

ul {
    list-style-type: none;
}

.title {

}

.pic {

}

.content {

}

.fun-fact {

}

